.gameboard--onwards {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 30px 30px;
  grid-template-areas: "gameboard__playing-as gameboard__information gameboard__information gameboard__information" "gameboard__playing-as gameboard__information gameboard__information gameboard__information" "gameboard__world-title gameboard__world gameboard__world gameboard__world" ". gameboard__world gameboard__world gameboard__world" ". gameboard__world gameboard__world gameboard__world" "gameboard__pocket-title gameboard__pocket gameboard__pocket gameboard__pocket" "gameboard__finish-button gameboard__pocket gameboard__pocket gameboard__pocket";
}

.gameboard--onwards .gameboard__playing-as { grid-area: gameboard__playing-as; }

.gameboard--onwards .gameboard__finish-button { grid-area: gameboard__finish-button; }

.gameboard--onwards .gameboard__pocket-title { grid-area: gameboard__pocket-title; }

.gameboard--onwards .gameboard__pocket { grid-area: gameboard__pocket; }

.gameboard--onwards .gameboard__world-title { grid-area: gameboard__world-title; }

.gameboard--onwards .gameboard__information { grid-area: gameboard__information; }

.gameboard--onwards .gameboard__world { grid-area: gameboard__world; }