@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300;400;700&display=swap');

html { font-size: 62.5%; } 

body {
  color: #333;
  font-size: 1.8rem;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Arima Madurai', sans-serif;
}

.button-xlarge {
  font-size: 125%;
}

.introduction {
  /* text-align: center; */
}

.introduction button {
  display: block;
  margin: 0 auto;
}

.sidebar {
  /* border-right: 2px solid #333; */
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: #fff;
  z-index: 300px;
  overflow-x: auto;
}

.sidebar__player-name {
  margin-top: auto;
  margin-bottom: 0;
}

.sidebar h1 {
  margin: 0;
}

.gameboard {
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
}

.tile {
  user-select: none;
  width: 100px;
  height: 140px;
  /* float: left; */
  margin: 0 0 5px 0;
}

.tile__image {
  background: #fff;
  background-size: contain;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

.tile__meaning {
  text-align: center;
  border: none;
  width: 100px;
  margin-bottom: 10px;
  background: transparent;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.droparea {
  display: flex;
  flex-direction: column;
}

.pure-button-group {
  text-align: center;
}

.droparea__tilestack {
  margin: 10px;
  width: 200px;
  height: 100%;
  transition: .05s ease-in;
  padding: 20px 50px;
  margin: 10px;
  width: 100px;
}

.droparea__tilestack.pocket {
  border: 2px dashed #eee;
  border-radius: 10px;
  height: 420px;
}

.droparea__tilestack.pocket .tile {
  opacity: .6;
}

.droparea__tilestack.world-card {
  border: 1px solid #e6e6e6;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  border-radius: 10px;
  height: 420px;
}

.gameboard--crossroads .world-card {
  height: 560px;
}
.gameboard--crossroads .pocket {
  margin-bottom: 140px;
}

.gameboard--onwards {
  flex-direction: column;
  justify-content: center;
}

.gameboard--onwards .pocket {
  margin: 0;
  padding: 40px;
  height: 160px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
}

.gameboard--onwards .pocket .tile {
  margin: 0 10px;
  position: relative;
  width: 60px;
  height: 60px;
}

.gameboard--onwards .pocket .tile__image {
  width: 60px;
  height: 60px;
}

.gameboard--onwards .pocket .tile__meaning {
  width: 80px;
  font-size: 0.8em;
  position: relative;
  left: -10px;
}

.gameboard--onwards .world-card {
  padding: 20px 50px;
}

.droparea__title {
  text-align: center;
}

.droparea__title h2 {
  margin: 30px 0 0 0;
  font-weight: 300;
  text-transform: uppercase;
}

.archival-notes {
  width: 500px;
}

.archival-notes .droparea__tilestack,
.archival-notes .droparea__title {
  box-sizing: border-box;
}

.archival-notes .droparea__tilestack {
  padding: 20px;
  width: 490px;
  height: 462px;
}
.archival-notes textarea {
  height: 100%;
  width: 100%;
  border: none;
  resize: none;
  overflow-x: auto;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 60%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.highlight {
  background: #efefef;
  border: #aaa;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-weight: 700;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.loading-screen {
  position: absolute;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 900;
  align-items: center;
  justify-content: center;
  background: rgba(255,255,255,0.8);
}

.moon {
  width: 100px;
  height: 100px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  transform: translateZ(0);
}
  
.moon::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; left: 0;
    background-color: #222;
    width: 50%; height: 100%;
    animation: flip 2s 1s steps(2) infinite alternate;
}

.disc {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  animation: rotate 4s linear infinite;
}
  
.disc::before, .disc::after {
    content: " ";
    display: block;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: transform 4s;
    position: absolute;
    backface-visibility: hidden;
}
.disc::before {
    background-color: #222;
  }
.disc::after {
    background-color: #fff;
    transform: rotateY(180deg);
}

@keyframes rotate {
  0%   { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}

@keyframes flip {
  0%   { left: 0; }
  100% { left: 100%; }
}

.archive {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.archive h1 {
  text-align: center;
}

.archive__row {
  margin-bottom: 40px;
}

.archive__notes {
  box-sizing: border-box;
  padding-left: 20px;
  height: 462px;
  overflow-x: auto;
}

.archive__notes p {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  text-align: left;
}